.message{
    margin: 0px 0px 10px 0px;
    display: flex;
    align-items: center;
}
.messageBlock{
    background: #fff;
    border-radius: 20px 20px 20px 0px;
    padding: 10px;
    max-width: 80%;
}
.myMessage{
    float: right;
}
.myMessage .messageBlock{
    background: #212121;
    color: #ffffff;
    border-radius: 20px 20px 0px 20px;
}
.messageTime{
    margin: 0px 10px;
    color: #ffffff;
    opacity: 0.4;
}
