/*@import '~antd/dist/antd.css';*/
@font-face {
  font-family: "Rubik";
  src:local('Rubik'), url("assets/fonts/Rubik-Regular.ttf");
}
html, body, #root{
  font-family: "Rubik";
  font-size: 13px;
  font-weight: 400;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
.Container{
  background: url(assets/img/mainBg.png);
  height: 100%;
}
